.App {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}

/* flexbox  */
.flex { display: flex; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.justCenterAlignCenter { justify-content: center; align-items: center; }

/*  */

/* grid  */
.Screen {
  grid-area: screen;
  justify-self: center;
  /* height: 50px; 
  width: 50px; */
}
.item-a {
  /* grid-area: pokeballs;   */
  height: 50px; 
  width: 50px;
  justify-self: center;
}
.item-b {
  /* grid-area: pokeballs; */
  height: 50px; 
  width: 50px;
  justify-self: center;
}
.item-c {
  /* grid-area: pokeballs; */
  height: 50px; 
  width: 50px;
  justify-self: center;
}

.Pokeball-Container  {
  grid-area: pokeballs;
}

.Container {
  display: grid;
  grid-template-columns: 500px;
  /* grid-template-columns: 500px; */
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  grid-template-areas: 
    "screen"
    "pokeballs" "pokeballs" "pokeballs";
    /* "main main . sidebar"
    "footer footer footer footer"; */
  /* justify-self: center; */
}

/*  */


.Intro-Buttons {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 0 0.5em;
}

.Bg-Cover-noRepeat {
  background-size: cover;
  background-repeat: no-repeat;
}



/* #IB2 { background-image: url('client/public/img/pokeball.png'); }
#IB2 { background-image: url('client/public/img/greatball.png'); }
#IB3 { background-image: url('client/public/img/greatball.png'); } */
